<DOCTYPE html>
    <html>
        <head>
        <title>About</title>
         <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
        <script src="/js/app.js"></script>
    </head>
    
    <body>
        <div class="main-content">
            {{>header}}
        <img class='portrait' src='/img/pinatubo.jpg'>
        <p>Thia site is created by Napster. It uses data from the mapbox.com and weatherstack.com in getting data for weather.</p>
    <p>Created by: {{name}}</p>

        </div>
        
    {{>footer}}
    </body>
    </html>